:root {
  --dot-width: 1.5em;
  --li-padding: 20px;
  

}

.main {
  color: var(--color-accent);
}

.main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main li {
  position: relative;
  display: flex;
  align-items: flex-start;
  background: transparent;
  padding: var(--li-padding);
  cursor: pointer;
}
.main li a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.main li:hover {
  background: rgba(255,255,255, 0.05);
}

.main li:before {
  border: 2px solid var(--color-accent);
  /* background: red; */
  border-radius: 50%;
  content: " ";
  height: var(--dot-width);
  min-width: var(--dot-width);
  display: inline-block;
  margin-right: 15px;
}
.main li:not(:last-child):after {
  content: " ";
  background: var(--color-accent);
  position: absolute;
  bottom: 0;
  top: 0;
  left:  calc(var(--dot-width) / 2 + var(--li-padding));
  width: 3px;
  height: calc(100% - var(--dot-width));
  transform: translateX(-50%) translateY(calc(var(--dot-width) + var(--li-padding)));
}
.main li.active:before {
  background: var(--color-accent);
}

.timeframe {
  min-width: 130px;
  display: flex;
  align-items: flex-start;
  color: var(--color-accent);
  font-weight: 500;
  text-transform: uppercase;
}

.company {
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
}

.title {
  font-size: 1.2em;
  font-weight: 700;
}

.details {
  padding-left: 25px;
  color: var(--color-text);
  font-size: 1.1em;
}

.secondaryTitle {
  color: #888;
}

small {
  font-size: 0.em;
  margin: 0 5px;
}


@media screen and (max-width: 1145px) {
  .main {
    padding: 0;
  }
}

@media screen and (max-width: 845px) {
  .main li:before, .main li:after {
    display: none;
  }
}

@media screen and (max-width: 655px) {
  .main li {
    flex-direction: column;
    padding: 0;
  }
  .main li:hover {
    background: inherit;
  }
  .main li:not(:last-child) {
    margin-bottom: 10px;
  }
  .details {
    padding-left: 0;
    font-size: .95rem;
  }
  .details .title {
    color: #fff;
  }

}