:root {
  --color-accent-opacity: color-mix(in srgb, var(--color-accent) 10%, transparent);
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    /* hsl(0 0% 100% / 0.13), */
    var(--color-accent-opacity),
    transparent 60vmin
  );
  background-attachment: fixed;
}

.headerBg {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    var(--color-accent-opacity),
    transparent 60vmin
    );
  background-attachment: fixed;
}
.header {
  position: relative;
  min-width: 300px;
  background: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50px 25px 25px 15px;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.header p:before {
  content: '"';
  height: 10px;
  width: 10px;
}


.header blockquote {
  border:none;
  position: relative; 
  margin-top: 1rem;
  padding-left: 0.4em; 
  color: var(--color-secondary);
  opacity: 0.7;
  font-family: fantasy, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
  
.header blockquote span {
    font-size: 18px;
    font-weight: 400;
}

.header blockquote:before { 
    opacity: 0.7;
    content: "\201C";
    font-weight: bold;
    font-size:100px;
    color: var(--color-secondary);
    position: absolute; 
    top: -75px;
    left: -20px;
    
    font-family: fantasy, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} 
.header blockquote:after { 
    opacity: 0.7;
    content: "\201D";
    font-weight: bold;
    font-size:100px;
    color:var(--color-secondary);
    position: absolute; 
    bottom: -50px;
    right: -15px; 
    font-family: fantasy, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header nav {
  margin-top: 5rem;
  flex-grow: 1;
}
.header ul {
  list-style-type: none;
  padding: 0;
}

.header .link {

  color: var(--color-text);
}

.header .link.selected {
  color: var(--color-accent);
}
.header .link.selected a:before {
  background: var(--color-accent);
  width: 2px;
}

.header .links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.2rem 0.5rem;;
  display: inline-block;
  position: relative;

}
.header .links a:before {
  content: '';
  width: 2px;
  background: #aaa;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
}

.footer {
  text-align: center;
}
.footer .icons {
  margin-bottom: 3rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer .icons svg {
  width: 40px;
  height: 40px;
  fill: var(--color-secondary);
}

.footer .icons svg:hover {
  fill: #fff;
}

.footer span {
  font-size: 0.80rem;
  color: #aaa;
}
.footer a {
  color: #aaa;
}
.about {
  display: flex;
  align-items: center;
}
.about h1 {
  font-size: 5rem;
  color: #dbf7f7;
}

.description {
  flex-basis: 90%;
  font-size: 1.2rem;
}

.description p {
  margin: 15px 0;
}

.content {
  height: 100vh;
  overflow: auto;
  padding: 80px;
}

.experience {
  margin-top: 3rem;
}

.experience a {
  padding-left: 50px;
  color: var(--color-accent)
}

.projects {
  margin-top: 100px;
  list-style-type: none;
}

.project {
  display: flex;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.project:hover {
  background: rgba(255,255,255, 0.05);
}

.project .projectImg {
  max-width: 200px;
  /* height: auto; */
}

.project .projectImg img {
  width: 100%;
}
.projectDetails {
  margin-left: 20px;
}

.projectDetails a {
  color: var(--color-text);
  text-decoration: inherit;
}
.projectDetails a:hover {
  color: var(--color-accent);
}

.skills {
  min-width: 380px;
}